<div class="row">
  <p class="text-center lead">
    <em>Play Shi-Fu-Mi with your friends... or your enemies</em>
  </p>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3 player-link">
    <h3>{{#link-to 'player1'}}Player 1{{/link-to}}</h3>
  </div>
  <div class="col-md-3 player-link">
    <h3>{{#link-to 'player2'}}Player 2{{/link-to}}</h3>
  </div>
<div class="row">
</div>
  <div class="col-md-12 new-game">
    <button id="create-game" class="btn btn-primary">New Game</button>
  </div>
</div>
