<ul>
  <li>{{#link-to 'player1'}}You are player 1{{/link-to}}</li>
  <li>{{#link-to 'player2'}}You are player 2{{/link-to}}</li>
</ul>


<ul class="colors">
{{#each}}
  <li>{{this}}</li>
{{/each}}
</ul>

{{input value=synchronizedModel.hello}}
